!!! 5
%head
  %title= 'Sacred Circle Dance Emails'
  %meta{name: 'robots', content: 'noindex'}
  %link{:rel => :stylesheet, :type => :"text/css", :href => '../reset.css'}
  %link{:rel => :stylesheet, :type => :"text/css", :href => '../admin.css'}
%body
  %h1 Sacred Circle Dance Emails

  - messages.each_with_index do |message, index|
    .admin-message{class: index.odd? ? 'odd' : 'even' }
      .admin-message-heading
        .admin-id= "#{message.id}."
        .admin-subject= message.subject_filtered
      .admin-details
        - details_as_array(message).each do |line|
          .line= line
        .line= "( by #{message.author})"
        .line= "( on #{message.received_at.strftime('%A')}, #{message.received_at})"
      %hr

      - if message.not_an_event?
        .admin-date.bold
          not_an_event

      - if message.parsed_date
        .admin-date.bold
          Event found:
          = message.parsed_date

      - if message.hidden
        .admin-date.bold
          Event hidden:
          = message.hide_reason

  .admin-footer
    created by
    %a{href: mailto('Admin%20Page')} Jack Desert

