%h1#title= page_title
#subtitle Events from Sacred Circle Mailing List
- odd = true
- first_time = true
- date_range_with_messages.each do |date, messages|
  - odd = !odd
  - odd_class = odd ? 'odd' : 'even'
  - display_date_class = messages.empty? ? 'empty' : 'full'

  .date-holder{class: odd_class}
    - if first_time
      = haml :_nav, locals: locals
      - first_time = false
    %h2.date{class: display_date_class}= display_date(date)
    - messages.each_with_index do |message, index|
      - klass = index.odd? ? 'odd' : 'even'
      - klass += ' duplicate' if message.marked_as_duplicate?
      .message{id: message.id, class: klass}
        %h3.subject= message.subject_filtered
        .details.hidden
          - details_as_array(message).each do |line|
            .line= line
