%h1#title= page_title
#subtitle Events from Sacred Circle Mailing List
- odd = true
- first_time = true
- date_strings = date_range_with_messages.keys
- date_strings.each do |date_string|
  - messages = date_range_with_messages[date_string]
  - events = date_range_with_events[date_string]
  - odd = !odd
  - odd_class = odd ? 'odd' : 'even'
  - display_date_class = messages.empty? ? 'empty' : 'full'

  .date-holder{class: odd_class}
    - if first_time
      = haml :_nav, locals: locals
      - first_time = false
    %h2.date{class: display_date_class}= display_date(date_string)
    - events.each do |event|
      .message-or-event{id: "event-#{event.id}"}
        .event-marker
        %h3.subject= event.name
        .details.hidden
          .source (Recurring Event from pdxecstaticdance.com)
          .website
            %a{href: event.url_formatted, target: '_blank'}= event.name
          .time= event.time_formatted
          .hostess
            Hosted by
            = event.hostess
          .location
            Location:
            %a{href: event.location_url, target: '_blank'}= event.location

    - messages.each do |message|
      - klass = message.marked_as_duplicate? ? 'duplicate' : ''
      .message-or-event{id: "message-#{message.id}", class: klass}
        %h3.subject= message.subject_filtered
        .details.hidden
          .source= "(Posted by #{message.author} on #{message.received_at})"
          - details_as_array(message).each do |line|
            .line= line
