- cool_event = ['Pillow Fest', 'Free Hugs Marathon', 'Trout Fest', 'Snickerdoodle Slumber Party', 'Long Johns Party'].shuffle.first

%h1#title= page_title
#subtitle Frequently Asked Questions

.date-holder
  = haml :_nav, locals: locals
  .question What is Daily Dancer?
  .answer
    Daily Dancer helps to answer the question, "What's going on today in the dance community?"
  .answer
    Daily Dancer is a computer program that pulls events from two sources: from the
    %a{href: 'http://pdxecstaticdance.com/subscribe/', target: '_blank'} Sacred Circle mailing list
    and from the dance calendar at
    <a href='http://pdxecstaticdance.com/', target='_blank'>pdxecstaticdtance.com</a>.
    All the events found are grouped by date of occurrence.

  .question How does it identify events from the mailing list?
  .answer
    First, it looks for one of these patterns in the subject:
    .example This Coming Thursday
  .answer
    If it doesn't find anything there, then it goes to the body of the email and uses the first date it comes to with the following format:
    .example Oct. 12
    .example Dec 1
    .example January 31

  .question How do I make sure the event I post gets recognized correctly?
  .answer
    Either: use the "This Friday" pattern in the
    .inline.italic subject:
    %br
    .example.inline Watch the Moon Rise with us This Friday
  .answer
    Or: use one of the date formats shown above in the
    .inline.italic body:
    %br
    .example.inline
      First annual
      = cool_event
      is March 25. Register by March 15 to get early bird pricing. Cost is blah blah blah...

    %br
    Make sure you list the event date before any ancillary dates, since the first one it comes to (March 25 in this example) is the one that counts.

  .question I posted an event to the list, and it does not show up on Daily Dancer. What do I do?
  .answer First, does your message represent an event? Only events show up on Daily Dancer.
  .answer Second, has the message already come through the list?
  .answer
    Third, if the above are true and it still does not show up,
    %a{href: mailto('Support')} send us an email
    so we can help. Please reference the subject line of the message you posted to the list and what day and time you sent it.

  .question I posted the same event twice, and it only shows up on Daily Dancer once. Is that normal?
  .answer Yes, that's normal. When Daily Dancer detects two messages that represent the same event, it shows the one that was sent most recently.

  .question I have a suggestion. Where do I send it?
  .answer
    Great! Would love to hear your feedback on how to improve Daily Dancer. You can
    = "<a href='#{mailto('Feedback')}'>send feedback by email</a>."

  .question Do events on Daily Dancer show up in a Google search?
  .answer No, Daily Dancer opts out of search engine results.

  .question Who built this?
  .answer You've probably seen him in the Tiffany Center on Sunday mornings in red pants and a black tanktop, or at contact improv on Tuesday nights. Jack started dancing in 2014, and loves to build things.

  .question Where can I find the source code?
  .answer
    Daily Dancer is open source, and it uses other open-source technologies---a combination of ruby, regular expressions, rspec, sinatra, sqlite, the sequel gem, jqlite, JavaScript, and CSS. Read the source code <a href='http://github.com/jackdesert/dailydancer' target='_blank'>here</a>.

  #faq-spacer


