- cool_event = ['Pillow Fest', 'Free Hugs Marathon', 'Trout Fest', 'Snickerdoodle Slumber Party', 'Long Johns Party'].shuffle.first
- content_for(:description) { 'Answers to Frequently asked questions for pdxdailydancer.com. What is it? How does it work? How do I get my events posted?' }
- content_for(:title) { 'PDX Daily Dancer FAQ' }

%h1#title= page_title
#subtitle Frequently Asked Questions

.date-holder
  = haml :_nav, locals: locals
  .question Is the Daily Dancer Still Maintained?
  .answer The Daily Dancer is no longer maintained. That is, support emails are no longer answered, and development on the Daily Dancer has stopped. The source code is available (see github link near bottom of this page) if you know someone who wants to host and/or continue development of the Daily Dancer. You can contact the author by creating a pull request on github to one of his projects. If this project was/is useful to you, hopefully somebody else will pick it up.
  .question What is Daily Dancer?
  .answer
    Daily Dancer is a computer program that pulls events from two sources: from the
    %a{href: 'http://pdxecstaticdance.com/subscribe/', target: '_blank'} Sacred Circle mailing list
    and from the dance calendar at
    <a href='http://pdxecstaticdance.com/', target='_blank'>pdxecstaticdance.com</a>.
    All the events found are grouped by date of occurrence.

  .question What's going on today in the Portland ecstatic dance community?
  .answer That is exactly the question the Daily Dancer sets out to answer.

  -#.question How does it identify events from the mailing list?
  -#.answer
  -#  First, it looks for one of these patterns in the subject:
  -#  .example This Coming Thursday
  -#.answer
  -#  If it doesn't find anything there, then it goes to the body of the email and uses the first date it comes to with the following format:
  -#  .example Oct. 12
  -#  .example Dec 1
  -#  .example January 31

  .question#posting-guidelines How do I make sure an event I post to the list gets displayed on the Daily Dancer?
  .answer
    Put the date near the top of your email, and spell out the month:
    %br
    .example.inline Watch the Moon Rise with us March 15th at 7pm.
  -#.answer
  -#  Or: use one of the date formats shown above in the
  -#  .inline.italic body:
  -#  %br
  -#  .example.inline
  -#    First annual
  -#    = cool_event
  -#    is March 25. Register by March 15 to get early bird pricing. Cost is blah blah blah...

    %br
    Make sure you list the event date before any ancillary dates, since the first one it comes to (March 25 in this example) is the one that counts.

  .question I posted an event to the list, and it does not show up on Daily Dancer. What do I do?
  .answer First, does your message represent an event? Only events show up on Daily Dancer.
  .answer Second, has the message already come through the list?
  .answer
    Third, if the above are true and it still does not show up,
    send an email to
    = mailto('Support')
    so we can help. Please reference the subject line of the message you posted to the list and what day and time you sent it.

  .question I posted the same event twice, and it only shows up on Daily Dancer once. Is that normal?
  .answer Yes, that's normal. When Daily Dancer detects two messages that represent the same event, it shows the one that was sent most recently.

  .question I have a suggestion. Where do I send it?
  .answer
    Please send suggestions to
    = "#{mailto('Feedback')}."

  .question Help?
  .answer
    Help offered, concerns addressed. Please contact
    = "#{mailto('Feedback')}."

  .question Who built this?
  .answer
    This is the site that Jack built.
    = "<a href='http://jackdesert.com'>Jack Desert</a>."
    Yes that's his real name. You've probably seen him in the Tiffany Center on Sunday mornings
    in red pants and a black tanktop.
    Jack started dancing
    in 2014, and loves to build things.

  .question Where can I find the source code?
  .answer
    Daily Dancer is open source, and it uses other open-source technologies---a combination of ruby, regular expressions, rspec, sinatra, sqlite, the sequel gem, jQuery, JavaScript, and CSS. Read the source code <a href='http://github.com/jackdesert/dailydancer' target='_blank'>here</a>.

  #faq-spacer


