- cool_event = ['Pillow Fest', 'Free Hugs Marathon', 'Trout Fest', 'Snickerdoodle Slumber Party', 'Long Johns Party'].shuffle.first

%h1#title= page_title
#subtitle Frequently Asked Questions

.date-holder
  = haml :_nav, locals: locals
  .question What is Daily Dancer?
  .answer
    Daily Dancer is a computer program that reads the
    %a{href: 'http://pdxecstaticdance.com/subscribe/', target: '_blank'} Sacred Circle email list
    and determines which messages are event announcements. Anything that represents an event gets displayed, grouped next to other events happening the same day. Most of the time it does this correctly without any human intervention.

  .question How do I make sure Daily Dancer recognizes the event that I post to the list?
  .answer
    The easiest way is to include the text "This Sunday" in the subject line.
    %br
    Example subject:
    .example Contact Jam This Friday
  .answer
    The next easiest way is to make sure the actual date of the event is the first date listed in the email, and use the format "March 15" or "Mar 15".
    %br
    Example email:
    .example
      Come one, come all to the first annual
      = cool_event
      on October 1st. Register by September 30th to get early bird pricing.
    (Date selected will be the first one, October 1.)

  .question I posted something to the list, and it does not show up on Daily Dancer. What do I do?
  .answer First, does your message represent an event? Only events show up on Daily Dancer.
  .answer Second, has the message already come through the list?
  .answer
    Third, if the above are true and it still does not show up,
    %a{href: mailto('Support')} send us an email
    so we can help. Please reference the subject line of the message you posted to the list and what day and time you sent it.

  .question I posted the same event twice, and it only shows up on Daily Dancer once. Is that normal?
  .answer Yes, that's normal. When Daily Dancer detects two messages that represent the same event, it uses only the most recent message to portray the event.

  .question I have a suggestion. Where do I send it?
  .answer
    Great! Would love to hear your feedback on usability and design. You can
    = "<a href='#{mailto('Feedback')}'>send feedback by email</a>."

  .question Do events on Daily Dancer show up in a Google search?
  .answer No, Daily Dancer opts out of search engine results.

  .question Who built this?
  .answer You've probably seen him in the Tiffany Center on Sunday mornings in red pants and a black tanktop, or at contact improv on Tuesday nights. Jack started dancing in 2014, and loves to build things.

  .question What technologies does this use?
  .answer Daily Dancer uses open-source technologies---a combination of ruby, regular expressions, rspec, sinatra, sqlite, the sequel gem, jqlite, JavaScript, and CSS.

  #faq-spacer


